# 数据处理

# 导入包

In [6]:
import pandas as pd
import numpy as np

# 导入数据和总览

In [85]:
inputfile = '../datasets/data.csv'
outputfile = '../datasets/data_processed.csv'

In [86]:
data = pd.read_csv(inputfile,parse_dates=['time_stamp'])

In [87]:
df = data.copy()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229137 entries, 0 to 229136
Data columns (total 3 columns):
time_stamp       229137 non-null datetime64[ns]
loc_id           229137 non-null int64
num_of_people    229137 non-null int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 5.2 MB

# 缺失值填充
* 缺失值用上一个非null值填充

In [88]:
cols = ['time_stamp','loc_id']
dt_range = pd.date_range('2017-01-01 00','2017-10-31 23',freq='H')
blank = pd.DataFrame(columns=cols)
locID = np.arange(1,34)
for dt in dt_range:
    p = pd.DataFrame({'time_stamp':dt,'loc_id':locID},columns=cols)
    blank = blank.append(p)

In [13]:
blank.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240768 entries, 0 to 32
Data columns (total 2 columns):
time_stamp    240768 non-null datetime64[ns]
loc_id        240768 non-null object
dtypes: datetime64[ns](1), object(1)
memory usage: 5.5+ MB

In [89]:
# 去掉2月份数据，过年期间，数据异常严重
blank = blank[(blank.time_stamp<'2017-02-01')|(blank.time_stamp>='2017-03-01')]
df = df[(df.time_stamp<'2017-02-01')|(df.time_stamp>='2017-03-01')]

In [20]:
display(blank.info(),df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218592 entries, 0 to 32
Data columns (total 2 columns):
time_stamp    218592 non-null datetime64[ns]
loc_id        218592 non-null object
dtypes: datetime64[ns](1), object(1)
memory usage: 5.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 208138 entries, 0 to 229136
Data columns (total 3 columns):
time_stamp       208138 non-null datetime64[ns]
loc_id           208138 non-null int64
num_of_people    208138 non-null int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 6.4 MB

None

None

In [90]:
mergedata = blank.merge(df,how='outer')

In [91]:
mergedata.fillna(method='ffill',inplace=True)

In [29]:
mergedata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218592 entries, 0 to 218591
Data columns (total 3 columns):
time_stamp       218592 non-null datetime64[ns]
loc_id           218592 non-null int64
num_of_people    218592 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 6.7 MB

In [34]:
mergedata[mergedata.time_stamp>'2017-04']

                time_stamp  loc_id  num_of_people
49137  2017-04-01 01:00:00       1          192.0
49138  2017-04-01 01:00:00       2          320.0
49139  2017-04-01 01:00:00       3          320.0
49140  2017-04-01 01:00:00       4          123.0
49141  2017-04-01 01:00:00       5          131.0
49142  2017-04-01 01:00:00       6          126.0
49143  2017-04-01 01:00:00       7           97.0
49144  2017-04-01 01:00:00       8           97.0
49145  2017-04-01 01:00:00       9          217.0
49146  2017-04-01 01:00:00      10          217.0
49147  2017-04-01 01:00:00      11          210.0
49148  2017-04-01 01:00:00      12          210.0
49149  2017-04-01 01:00:00      13           42.0
49150  2017-04-01 01:00:00      14            8.0
49151  2017-04-01 01:00:00      15            9.0
49152  2017-04-01 01:00:00      16            3.0
49153  2017-04-01 01:00:00      17          131.0
49154  2017-04-01 01:00:00      18          306.0
49155  2017-04-01 01:00:00      19          207.0
49156  2017-04-01 01:00:00      20           15.0
49157  2017-04-01 01:00:00      21          242.0
49158  2017-04-01 01:00:00      22            2.0
49159  2017-04-01 01:00:00      23          449.0
49160  2017-04-01 01:00:00      24            1.0
49161  2017-04-01 01:00:00      25          221.0
49162  2017-04-01 01:00:00      26           25.0
49163  2017-04-01 01:00:00      27           19.0
49164  2017-04-01 01:00:00      28           66.0
49165  2017-04-01 01:00:00      29           66.0
49166  2017-04-01 01:00:00      30          223.0
...                    ...     ...            ...
218562 2017-10-31 23:00:00       4          581.0
218563 2017-10-31 23:00:00       5          424.0
218564 2017-10-31 23:00:00       6          553.0
218565 2017-10-31 23:00:00       7          244.0
218566 2017-10-31 23:00:00       8          660.0
218567 2017-10-31 23:00:00       9          420.0
218568 2017-10-31 23:00:00      10          128.0
218569 2017-10-31 23:00:00      11          524.0
218570 2017-10-31 23:00:00      12          532.0
218571 2017-10-31 23:00:00      13          215.0
218572 2017-10-31 23:00:00      14          156.0
218573 2017-10-31 23:00:00      15           46.0
218574 2017-10-31 23:00:00      16           92.0
218575 2017-10-31 23:00:00      17          567.0
218576 2017-10-31 23:00:00      18         1023.0
218577 2017-10-31 23:00:00      19          379.0
218578 2017-10-31 23:00:00      20          253.0
218579 2017-10-31 23:00:00      21          697.0
218580 2017-10-31 23:00:00      22           10.0
218581 2017-10-31 23:00:00      23          771.0
218582 2017-10-31 23:00:00      24          277.0
218583 2017-10-31 23:00:00      25          326.0
218584 2017-10-31 23:00:00      26          173.0
218585 2017-10-31 23:00:00      27          119.0
218586 2017-10-31 23:00:00      28          452.0
218587 2017-10-31 23:00:00      29          207.0
218588 2017-10-31 23:00:00      30          976.0
218589 2017-10-31 23:00:00      31          480.0
218590 2017-10-31 23:00:00      32          242.0
218591 2017-10-31 23:00:00      33          120.0

[169455 rows x 3 columns]

# 异常值处理
* 分位数0.1以下和0.9以上认为是异常值

In [78]:
mergedata_copy = mergedata.copy()

In [79]:
res = data_outliers_processing(mergedata_copy)

处理前最小值：1.0，最大值：1983.0
处理后最小值：49.0，最大值：1983.0
处理前最小值：1.0，最大值：2006.0
处理后最小值：65.0，最大值：2006.0
处理前最小值：1.0，最大值：3143.0
处理后最小值：11.0，最大值：3143.0
处理前最小值：1.0，最大值：1852.0
处理后最小值：16.0，最大值：1852.0
处理前最小值：1.0，最大值：1320.0

C:\Tool\Anaconda\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

处理后最小值：41.0，最大值：1320.0
处理前最小值：1.0，最大值：1788.0
处理后最小值：12.0，最大值：1788.0
处理前最小值：1.0，最大值：1310.0
处理后最小值：17.0，最大值：1310.0
处理前最小值：1.0，最大值：8382.0
处理后最小值：14.0，最大值：8382.0
处理前最小值：1.0，最大值：4327.0
处理后最小值：13.0，最大值：4327.0
处理前最小值：1.0，最大值：6630.0
处理后最小值：7.0，最大值：6630.0
处理前最小值：1.0，最大值：4327.0
处理后最小值：26.0，最大值：4327.0
处理前最小值：1.0，最大值：9939.0
处理后最小值：11.0，最大值：9939.0
处理前最小值：1.0，最大值：4205.0
处理后最小值：6.0，最大值：4205.0
处理前最小值：1.0，最大值：1193.0
处理后最小值：5.0，最大值：1193.0
处理前最小值：1.0，最大值：2626.0
处理后最小值：6.0，最大值：2626.0
处理前最小值：1.0，最大值：2033.0
处理后最小值：4.0，最大值：2033.0
处理前最小值：1.0，最大值：1901.0
处理后最小值：27.0，最大值：1901.0
处理前最小值：1.0，最大值：1612.0
处理后最小值：56.0，最大值：1612.0
处理前最小值：1.0，最大值：1941.0
处理后最小值：23.0，最大值：1941.0
处理前最小值：1.0，最大值：2852.0
处理后最小值：10.0，最大值：2852.0
处理前最小值：1.0，最大值：1611.0
处理后最小值：30.0，最大值：1611.0
处理前最小值：1.0，最大值：1080.0
处理后最小值：1.0，最大值：1080.0
处理前最小值：1.0，最大值：1445.0
处理后最小值：24.0，最大值：1445.0
处理前最小值：1.0，最大值：2999.0
处理后最小值：2.0，最大值：2999.0
处理前最小值：1.0，最大值：2106.0
处理后最小值：34.0，最大值：2106.0
处理前最小值：1.0，最大值：1138.0
处理后最小值：5.0，最大值：1138.0
处理前最小值：1.0，最大值：2416.0
处理后最小值：11.0，最大值：2416.0
处理前最小值：1.0，最大值：1695.0
处理后最小值：16.0，最大值：1695.0
处理前最小值：1.0，最大值：6600.0
处理后最小值：7.0，最大值：6600.0
处理前最小值：1.0，最大值：4471.0
处理后最小值：57.0，最大值：4471.0
处理前最小值：1.0，最大值：3105.0
处理后最小值：17.0，最大值：3105.0
处理前最小值：1.0，最大值：2502.0
处理后最小值：2.0，最大值：2502.0
处理前最小值：1.0，最大值：2148.0
处理后最小值：11.0，最大值：2148.0

res.info()

In [82]:
res.head()

             time_stamp  loc_id  num_of_people
0   2017-01-01 00:00:00       1          120.0
33  2017-01-01 01:00:00       1          143.0
66  2017-01-01 02:00:00       1           87.0
99  2017-01-01 03:00:00       1           90.0
132 2017-01-01 04:00:00       1           49.0

# 导出数据

In [92]:
mergedata.to_csv(outputfile,index=False)

In [83]:
res.to_csv(outputfile,index=False)

# 公共函数

In [77]:
def data_outliers_processing(data):
    res = [None]*33
    df = data.copy()
    df.sort_values(by=['loc_id','time_stamp'],inplace=True)
    for i in range(33):
        res[i] = df.loc[df.loc_id == i+1]
    train = pd.DataFrame()
    for tmp in res:
        print("处理前最小值：%s，最大值：%s"%(tmp.num_of_people.quantile(0),tmp.num_of_people.quantile(1)))
        minimum = tmp.num_of_people.quantile(0.05)
#         maximum = tmp.num_of_people.quantile(0.99)
        tmp.loc[tmp.num_of_people<minimum,'num_of_people'] = int(minimum)
#         tmp.loc[tmp.num_of_people>maximum] = int(maximum)
        print("处理后最小值：%s，最大值：%s"%(tmp.num_of_people.quantile(0),tmp.num_of_people.quantile(1)))
        train = train.append(tmp)
    return train