# 特征工程

# 导入包

In [31]:
import pandas as pd 
import numpy as np
import re
from sklearn.preprocessing import OneHotEncoder
import datetime

# 导入数据

In [32]:
inputfile = '../datasets/data_processed.csv'
outputfile = '../datasets/data_feature_processed.csv'

In [45]:
data = pd.read_csv(inputfile,parse_dates=['time_stamp'])

In [34]:
data.head()

           time_stamp  loc_id  num_of_people
0 2017-01-01 00:00:00       1          120.0
1 2017-01-01 01:00:00       1          143.0
2 2017-01-01 02:00:00       1           87.0
3 2017-01-01 03:00:00       1           90.0
4 2017-01-01 04:00:00       1           49.0

In [35]:
data.tail()

                time_stamp  loc_id  num_of_people
218587 2017-10-31 19:00:00      33          407.0
218588 2017-10-31 20:00:00      33          496.0
218589 2017-10-31 21:00:00      33          434.0
218590 2017-10-31 22:00:00      33          272.0
218591 2017-10-31 23:00:00      33          120.0

# 10月测试数据导出

In [46]:
df = data.copy()
df.loc[df.time_stamp>='2017-10-01','num_of_people'] = np.nan
df = feature_engineering(df)
df = df.join(pd.get_dummies(df.loc_id))
df[df.time_stamp>='2017-10-01'].to_csv('../datasets/Oct_test_data.csv',index=False)

# 11月测试数据导出

In [37]:
df1 = data.copy()

In [38]:
df_nov = df1[df1.time_stamp>='2017-10-01']
df_nov.time_stamp = df_nov.time_stamp+datetime.timedelta(31)
df_nov = df_nov[df_nov.time_stamp<'2017-12-01']
df_nov.loc[df_nov.time_stamp>='2017-11-01','num_of_people'] = np.nan

C:\Tool\Anaconda\lib\site-packages\pandas\core\generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [47]:
df_nov

                time_stamp  loc_id  num_of_people
5880   2017-11-01 00:00:00       1            NaN
5881   2017-11-01 01:00:00       1            NaN
5882   2017-11-01 02:00:00       1            NaN
5883   2017-11-01 03:00:00       1            NaN
5884   2017-11-01 04:00:00       1            NaN
5885   2017-11-01 05:00:00       1            NaN
5886   2017-11-01 06:00:00       1            NaN
5887   2017-11-01 07:00:00       1            NaN
5888   2017-11-01 08:00:00       1            NaN
5889   2017-11-01 09:00:00       1            NaN
5890   2017-11-01 10:00:00       1            NaN
5891   2017-11-01 11:00:00       1            NaN
5892   2017-11-01 12:00:00       1            NaN
5893   2017-11-01 13:00:00       1            NaN
5894   2017-11-01 14:00:00       1            NaN
5895   2017-11-01 15:00:00       1            NaN
5896   2017-11-01 16:00:00       1            NaN
5897   2017-11-01 17:00:00       1            NaN
5898   2017-11-01 18:00:00       1            NaN
5899   2017-11-01 19:00:00       1            NaN
5900   2017-11-01 20:00:00       1            NaN
5901   2017-11-01 21:00:00       1            NaN
5902   2017-11-01 22:00:00       1            NaN
5903   2017-11-01 23:00:00       1            NaN
5904   2017-11-02 00:00:00       1            NaN
5905   2017-11-02 01:00:00       1            NaN
5906   2017-11-02 02:00:00       1            NaN
5907   2017-11-02 03:00:00       1            NaN
5908   2017-11-02 04:00:00       1            NaN
5909   2017-11-02 05:00:00       1            NaN
...                    ...     ...            ...
218538 2017-11-29 18:00:00      33            NaN
218539 2017-11-29 19:00:00      33            NaN
218540 2017-11-29 20:00:00      33            NaN
218541 2017-11-29 21:00:00      33            NaN
218542 2017-11-29 22:00:00      33            NaN
218543 2017-11-29 23:00:00      33            NaN
218544 2017-11-30 00:00:00      33            NaN
218545 2017-11-30 01:00:00      33            NaN
218546 2017-11-30 02:00:00      33            NaN
218547 2017-11-30 03:00:00      33            NaN
218548 2017-11-30 04:00:00      33            NaN
218549 2017-11-30 05:00:00      33            NaN
218550 2017-11-30 06:00:00      33            NaN
218551 2017-11-30 07:00:00      33            NaN
218552 2017-11-30 08:00:00      33            NaN
218553 2017-11-30 09:00:00      33            NaN
218554 2017-11-30 10:00:00      33            NaN
218555 2017-11-30 11:00:00      33            NaN
218556 2017-11-30 12:00:00      33            NaN
218557 2017-11-30 13:00:00      33            NaN
218558 2017-11-30 14:00:00      33            NaN
218559 2017-11-30 15:00:00      33            NaN
218560 2017-11-30 16:00:00      33            NaN
218561 2017-11-30 17:00:00      33            NaN
218562 2017-11-30 18:00:00      33            NaN
218563 2017-11-30 19:00:00      33            NaN
218564 2017-11-30 20:00:00      33            NaN
218565 2017-11-30 21:00:00      33            NaN
218566 2017-11-30 22:00:00      33            NaN
218567 2017-11-30 23:00:00      33            NaN

[23760 rows x 3 columns]

In [40]:
df1 = df1.append(df_nov)
df1.reset_index(inplace=True)
df1.drop('index',inplace=True,axis=1)

In [42]:
df1 = feature_engineering(df1)
df1 = df1.join(pd.get_dummies(df1.loc_id))

In [43]:
df1[df1.time_stamp>='2017-11-01'][df1.loc_id==1]

C:\Tool\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,time_stamp,loc_id,num_of_people,month_of_year,day_of_week,week_of_year,history_1h_population,history_2h_population,history_3h_population,history_4h_population,...,24,25,26,27,28,29,30,31,32,33
218592,2017-11-01 00:00:00,1,NaN,11,2,44,473.0,886.0,894.0,634.0,...,0,0,0,0,0,0,0,0,0,0
218593,2017-11-01 01:00:00,1,NaN,11,2,44,NaN,473.0,886.0,894.0,...,0,0,0,0,0,0,0,0,0,0
218594,2017-11-01 02:00:00,1,NaN,11,2,44,NaN,NaN,473.0,886.0,...,0,0,0,0,0,0,0,0,0,0
218595,2017-11-01 03:00:00,1,NaN,11,2,44,NaN,NaN,NaN,473.0,...,0,0,0,0,0,0,0,0,0,0
218596,2017-11-01 04:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218597,2017-11-01 05:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218598,2017-11-01 06:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218599,2017-11-01 07:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218600,2017-11-01 08:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218601,2017-11-01 09:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218602,2017-11-01 10:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218603,2017-11-01 11:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218604,2017-11-01 12:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218605,2017-11-01 13:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218606,2017-11-01 14:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218607,2017-11-01 15:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218608,2017-11-01 16:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218609,2017-11-01 17:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218610,2017-11-01 18:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218611,2017-11-01 19:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218612,2017-11-01 20:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218613,2017-11-01 21:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218614,2017-11-01 22:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218615,2017-11-01 23:00:00,1,NaN,11,2,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218616,2017-11-02 00:00:00,1,NaN,11,3,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218617,2017-11-02 01:00:00,1,NaN,11,3,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218618,2017-11-02 02:00:00,1,NaN,11,3,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218619,2017-11-02 03:00:00,1,NaN,11,3,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218620,2017-11-02 04:00:00,1,NaN,11,3,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
218621,2017-11-02 05:00:00,1,NaN,11,3,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219282,2017-11-29 18:00:00,1,NaN,11,2,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219283,2017-11-29 19:00:00,1,NaN,11,2,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219284,2017-11-29 20:00:00,1,NaN,11,2,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219285,2017-11-29 21:00:00,1,NaN,11,2,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219286,2017-11-29 22:00:00,1,NaN,11,2,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219287,2017-11-29 23:00:00,1,NaN,11,2,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219288,2017-11-30 00:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219289,2017-11-30 01:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219290,2017-11-30 02:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219291,2017-11-30 03:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219292,2017-11-30 04:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219293,2017-11-30 05:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219294,2017-11-30 06:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219295,2017-11-30 07:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219296,2017-11-30 08:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219297,2017-11-30 09:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219298,2017-11-30 10:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219299,2017-11-30 11:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219300,2017-11-30 12:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219301,2017-11-30 13:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219302,2017-11-30 14:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219303,2017-11-30 15:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219304,2017-11-30 16:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219305,2017-11-30 17:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219306,2017-11-30 18:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219307,2017-11-30 19:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219308,2017-11-30 20:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219309,2017-11-30 21:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219310,2017-11-30 22:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
219311,2017-11-30 23:00:00,1,NaN,11,3,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [44]:
df1[df1.time_stamp>='2017-11-01'].to_csv('../datasets/Nov_test_data.csv',index=False)

# 以下是模型用到的公共函数

In [5]:
reg = re.compile('\s+|\t|\n') # 正则匹配空格、Tab键、换行
#列名，历史24小时人数
col_24h='''history_1h_population,history_2h_population,history_3h_population,history_4h_population
    ,history_5h_population,history_6h_population,history_7h_population,history_8h_population
    ,history_9h_population,history_10h_population,history_11h_population,history_12h_population
    ,history_13h_population,history_14h_population,history_15h_population,history_16h_population,history_17h_population
    ,history_18h_population,history_19h_population,history_20h_population,history_21h_population,history_22h_population
    ,history_23h_population'''
columns_24h=re.sub(reg,'',col_24h).split(',')  
#列名，同一时刻历史15天人数
col_30d='''history_1d_population,history_2d_population,history_3d_population,
    history_4d_population,history_5d_population,history_6d_population,
    history_7d_population,history_8d_population,history_9d_population,history_10d_population,history_11d_population,
    history_12d_population,history_13d_population,history_14d_population,history_15d_population,history_16d_population
    ,history_17d_population,history_18d_population,history_19d_population,history_20d_population,history_21d_population
    ,history_22d_population,history_23d_population,history_24d_population,history_25d_population,history_26d_population
    ,history_27d_population,history_28d_population,history_29d_population,history_30d_population'''
columns_30d=re.sub(reg,'',col_30d).split(',')

In [6]:
def feature_engineering(data):
    df = data.copy()
    df = seasonal_feature_engineering(df)
    df = history_features(df)
    return df

In [7]:
# 按地点分组
def history_features(data):
    res = [None]*33
    df = data.copy()
    df.sort_values(by=['loc_id','time_stamp'],inplace=True)
    for i in range(33):
        res[i] = df.loc[df.loc_id == i+1]
    train = pd.DataFrame()
    for tmp in res:
        tmp = history_24h_population(tmp,columns_24h)
        tmp = history_30d_population(tmp,columns_30d)
        train = train.append(tmp)
    return train

In [8]:
def history_24h_population(data,features):
    df = data.copy()
    for item in features:
        df[item] = np.nan
    for i in range(len(features)):
        df[features[i]] = df['num_of_people'].shift(i+1)
    return df

In [9]:
def history_30d_population(data,features):
    df = data.copy()
    for item in features:
        df[item] = np.nan
    for i in range(len(features)):
        df[features[i]] = df['num_of_people'].shift((i+1)*24)
    return df

In [17]:
def seasonal_feature_engineering(data):
    df = data.copy()
    df.time_stamp = pd.to_datetime(df.time_stamp)
    df['month_of_year'] = df.time_stamp.apply(lambda x : x.month) #月份
    df['day_of_week'] = df.time_stamp.apply(lambda x : x.weekday()) #周几，从0开始
    df['week_of_year'] = df.time_stamp.apply(lambda x : x.weekofyear) #一年第几周，从0开始
    return df